body {
    margin: 0;
}

/* Navbar */

.navbar{
    background-color:antiquewhite;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}
.navlist {
    display:flex;
    justify-content: right;
    margin-right: 4rem;
}
.navlist li {
    list-style: none;
    margin-right: 1rem;
}
.navlist a {
    text-decoration: none;
    color: black;
}
.navlist a:hover{
    color: purple;
}
.navlink{
    font-size:large;
}

/*Home*/

.home-container{
    display: flex;
    justify-content:center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.img{
    margin-left: 15rem;
    border-radius: 30%;
}
.texto{
    padding-top: 7%;
    font-size: 3.5rem;
}
.texto2{
    font-size: 1.75rem;
}

/*Sobre*/

.sobre-container{
    display: flex;
    justify-content:left ;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.img2{
    width: 500px;
    margin-right: 5rem;
    border-radius: 30%;

}
.texto3{
    padding-top: 7%;
    margin-left: 0.1rem;
}

/*Skills*/
