/*Home*/
.homepass img{
   border-radius: 35%;
   margin-top: 3rem;
}

.homepass{
    text-align: center;
    margin-right: 7rem;
    padding-bottom: 5rem;
}

.desc{
    text-align: left;
    margin-top: 10rem;
    padding-left: 8rem;
}

/*Sobre*/

.about{
    padding-top: 4rem;
    text-align: center;
    padding-bottom: 5rem;
}

.img2{
    width: 600px;
    padding-top: 3rem;
}

.texto3{
    padding-top: 1rem;
}
.texto4{
    padding-top: 1.5rem;
}
.about1{
    padding-right: 4rem;
}

/*Skills*/

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skills h1{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.skills i{
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.card{
    border-radius: 4%;
    text-align: center;
    margin-right: 2rem;
}

.flexibilidade{
    color:blueviolet;
}

.versatilidade{
    color: gray;
}

.comunication{
    color: green;
}

.criativ{
    color: yellow;
}

@media screen and (max-width: 420px) {
    /*media home*/
    .homepass img{
        width: 300px;
        margin-top: 3rem;
    } 
    .homepass{
        margin-right: 0;
    }
    .desc{
        margin-top: 3rem;
        padding-left: 2rem;
        text-align: center;
    }
    /*Sobre*/
    .img2{
        border-radius: 20%;
        width: 300px;
        padding-bottom: 3rem;
        padding-top: 0;
    }
    .texto3{
        padding-left: 3rem;
    }
    .texto4{
        padding-left: 3rem;
    }
    /*Skills*/
    .card{
        margin-left: 3rem;
        margin-top: 2rem;
    }
    .skills h1{
        padding-top: 0;
        margin-left: 2rem;
    }
  }
