/*Home*/
.homepass img{
   border-radius: 35%;
   margin-top: 3rem;
}

.homepass{
    text-align: center;
    margin-right: 7rem;
    padding-bottom: 5rem;
}

.desc{
    text-align: left;
    margin-top: 10rem;
    padding-left: 8rem;
}

/*Sobre*/

.about{
    padding-top: 4rem;
    text-align: center;
    padding-bottom: 5rem;
}

.img2{
    width: 600px;
    padding-top: 3rem;
}

.texto3{
    padding-top: 1rem;
}
.texto4{
    padding-top: 1.5rem;
}
.about1{
    padding-right: 4rem;
}

/*Skills*/

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skills h1{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.skills i{
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.card{
    border-radius: 4%;
    text-align: center;
    margin-right: 2rem;
}

.flexibilidade{
    color:blueviolet;
}

.versatilidade{
    color: gray;
}

.comunication{
    color: green;
}

.criativ{
    color: yellow;
}

/*Curiosidade*/

.curios h1{
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 5rem;    
}
.img3{
    padding-top: 5rem;
    width: 400px;
    padding-left: 2rem;
    padding-bottom: 5rem;
}
.frases{
    padding-left: 6rem;
}

/*site*/

.site{
    text-align: center;
    padding-bottom: 8rem;
}
.site-titulo{
    padding-bottom: 3rem;
}
.site-texto{
    font-size: 19px;
    padding-left: 15rem;
    padding-right: 15rem;
}
.aqui{
    text-decoration: none;
}
.aqui:hover{
    color: red;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 850px) {
    /*Media Home*/
    .homepass{
        display: flex;
        flex-direction:row;
    }

    .homepass img{
        width: 350px;
        margin-left: 8rem;
    }

    .desc{
        text-align: center;
        margin-top: 2rem;
    }

    .texto{
        font-size: 40px;
        padding-bottom: 1rem;
    }


    /*Sobre*/
    .texto3{
        margin-left: 3rem;
    }
    .texto4{
        margin-left: 3rem;
    }
    /*Skills*/
    .card{
        margin-top: 3rem;
    }
    /*Curiosidades*/
    .frases{
        margin-left: 0;
        margin-right: 5rem;
    }

    .img3{
        margin-left: 10rem;
        padding-top: 1rem;
    }
    /*Site*/
    .site-texto {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    /*Footer*/

}

@media screen and (max-width: 420px) {
    /*media home*/
    .homepass img{
        width: 300px;
        margin-top: 3rem;
    } 
    .homepass{
        margin-right: 0;
    }
    .desc{
        margin-top: 3rem;
        padding-left: 2rem;
        text-align: center;
    }
    /*Sobre*/
    .img2{
        border-radius: 20%;
        width: 300px;
        padding-bottom: 3rem;
        padding-top: 0;
    }
    .texto3{
        padding-left: 3rem;
    }
    .texto4{
        padding-left: 3rem;
    }
    /*Skills*/
    .card{
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .skills h1{
        padding-top: 0;
        margin-left: 0.5rem;
    }
    /*Curiosidade*/
    .curiosidade{
        text-align: center;
        padding-right: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0;
    }
    .img3{
        width: 300px;
        padding-top: 1rem;
        padding-bottom: 2rem;
        padding-left: 0.8rem;
    }
    .frases{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    /*Site*/
    
    .site-titulo{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    .site-texto{
        font-size: 15px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .site{
        padding-bottom: 3rem;
    }
    /*footer*/
    .footer h3{
        font-size: 18px;
    }
  }
